<!DOCTYPE html>

<html>
    <head>
        <title>davbo - code &amp; words.</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="description" content="" />
        <meta name="author" content="">

        <!-- Optimized mobile viewport -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href='http://fonts.googleapis.com/css?family=Dosis:200|Droid+Serif:400,400italic' rel='stylesheet' type='text/css'>
        <link href="/css/style.css" rel="stylesheet" />
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35971296-1']);
            _gaq.push(['_setDomainName', 'davbo.org']);
            _gaq.push(['_trackPageview']);

            (function() {
             var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
             ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
             var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
             })();

         </script>
     </head>

     <body>
         <header>
         <div id="davbo" class="g1">
             <h1><a href="/">davb<span class="quiet">l</span>o<span class="quiet">g</span></a></h1>
         </div>
         <div class="g2">
             <h5>Code <span class="amp">&amp;</span> words reluctantly authored by David King.</h5>
         </div>
         <div class="g2">
             <p>a software developer from Sheffield currently residing in Oxford.</p>
         </div>
         </header>
         <div class="cf"></div>
         <div id="content">
             {{ content }}
         </div>
         <footer class="g3 cf">
         <small><span class="license">Creative Commons: Attribution-NonCommercial-ShareAlike</span></small>
         </footer>

     </body>
 </html>
